@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
}

.product__image {
  width: 6rem;
  height: auto;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

.color-option__box {
  display: flex;
  justify-content: space-between;
}

.color-option__box button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid white;
}

.bila {
  background-color: white;
}

.cerna {
  background-color: black;
}

.cervena {
  background-color: rgb(205, 67, 67);
}

.modra {
  background-color: rgb(34, 116, 202);
}

.colorName {
  display: flex;
  justify-content: space-between;
}

.objednat {
  display: block;
  height: 40px;
  width: 140px;
  border-radius: 35px;
  border: 1px solid white;
  color: white;
  background-color: #141518;
}
